.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: #000000;
  --color-endeavor: #00539b;
  --color-mine-shaft: #333333;
  --color-dove-grey: #666666;
  --type-size-xs: 0.75rem;
  --border: #dddddd;
}

body{
  background-color: cadetblue;
}